<%- include('header') -%> 
    <h1>Author: <%= author.name %> </h1>
    <p><%= author.lifespan %></p>

    <div style='margin-left:20px;margin-top:20px'>
        <h4>Books</h4>

        <dl>
            <% if(Object.keys(books).length !== 0) {%>
                <% Object.keys(books).forEach(book => { %>
                    <dt>
                        <a href="<%= books[book].url %> "><%= books[book].title %> </a>
                    </dt>
                    <dd>
                        <%= books[book].summary %> 
                    </dd>
                <% })%> 
            <% } else {%> 
                <p>This author has no books.</p>
            <% } %> 
        </dl>
    </div>

<%- include('footer') -%> 