<%- include('header') -%> 
    <h1><%= title %> </h1>

    <ul>
        <% Object.keys(author_list).forEach(author => { %> 
            <li>
                <p><a href="<%= author_list[author].url %> "><%= author_list[author].name %>  </a>(<%= author_list[author].lifespan %>  ) </p>
            </li>
        <% }); %> 
    </ul>

<%- include('footer') -%> 