<%- include('header') -%> 

    <h1><%= title %> </h1>

    <form method='POST' action=''>
        <div class="form-group">
            <label for="book">Book:</label>
            <select id="book" type="select" class="form-control" name="book" placeholder="Select book" >

                <% book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}); %> 
                <% Object.keys(book_list).forEach(book => {  %>
                    <%  if(typeof selected_book!=="undefined"){ %>
                        <option value="<%= book_list[book]._id %>" <%= selected_book.toString()===book_list[book]._id.toString() ? "selected" : '' %>><%= book_list[book].title %></option>
                    <% } else {%>
                        <option value="<%= book_list[book]._id %>"><%= book_list[book].title %></option>
                    <% }%>
                <% })  %> 
            </select>
        </div>
        <div class="form-group">
            <label for="imprint">Imprint:</label>
            <input id="imprint" type="text" class="form-control" name="imprint" placeholder="Publisher and date information" value="<%= typeof bookinstance==="undefined" ? '' : bookinstance.imprint %>">
        </div>
        <div class="form-group">
            <label for="due_back">Date when book available:</label>
            <input class="form-control" id="due_back" type="date"  name="due_back" value="<%= typeof bookinstance==="undefined" ? '' : bookinstance.due_back_yyyy_mm_dd %>">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select name="status" type="select" id="status" placeholder="Select status" class="form-control">
                <option value="Maintenance">Maintenance</option>
                <option value="Available">Available</option>
                <option value="Loaned">Loaned</option>
                <option value="Reserved">Reserved</option>
            </select>
        </div>
        <button class="btn-primary" type="submit">Submit</button>
    </form>
    
    <% if (typeof errors!=="undefined") { %> 
        <ul>
            <% Object.keys(errors).forEach(error => { %>
                <li><%= errors[error].msg %> </li>
            <%  }); %> 
        </ul>
    <% } %> 

<%- include('footer') -%> 