<%- include('header') -%> 
    <h1><%= title %> </h1>

    <ul>
        <% Object.keys(genre_list).forEach(genre => { %> 
            <li>
                <p><a href="<%= genre_list[genre].url %> "><%= genre_list[genre].name %>  </a></p>
            </li>
        <% }); %> 
    </ul>

<%- include('footer') -%> 