<%- include('header'); -%> 
    <h1>Genre: <%= genre.name %> </h1>

        
    <div style='margin-left:20px;margin-top:20px'>
        <h4>Books</h4>

        <dl>
            <% Object.keys(genre_books).forEach(book => { %> 
                <dt>
                    <a href="<%= genre_books[book].url %> "><%= genre_books[book].title %> ></a>
                </dt>
                <dd>
                    <%= genre_books[book].summary %>
                </dd>
            <% }); %> 
        </dl>
    </div>
    <hr>
    <p><a href="<%= genre.url+'/update' %> ">Update genre</a></p>
    <p><a href="<%= genre.url+'/delete' %> ">Delete genre</a></p>

<%- include('footer'); -%> 